* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  pointer-events: none;
  background: url(assets/mouse.png) center/contain no-repeat fixed, #e8dcc8;
  background-repeat: no-repeat;
}
